@import url('https://fonts.googleapis.com/css?family=Poppins');



*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    transition: .10 linear;
}


.navbar{
    display: flex;
    justify-content: space-between;

    position: absolute;
    top:0;
    left:0;
    width: 100%;
    padding: 20px;
    color: whitesmoke;
}

ul{
list-style: none;
}

.nav-links{
    display: flex;
    align-items: center;
}

.nav-links li{
   margin: 0 30px;
}


a {
    text-decoration: none;
    }

header {
    width: 100vw;
    height: 100vh;
    background-image: url('./img/header-bg.png');
    background-position: bottom;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: flex-end;
}


.header-content{
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}

.header-content h2{
    font-size: 4vmin;
}

.line{
    width: 150px;
    height: 4px;
    background-color: #fc036b;
    margin: 10px auto;
    border-radius: 10px;
}

.header-content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

.ctn{
    padding: 8px 15px;
    background-color: #fc036b;
    border-radius: 30px;
    color: whitesmoke;
}