@import url('https://fonts.googleapis.com/css?family=Poppins');



*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    transition: .4 linear;
}

body, html{
    overflow-x: hidden;
}

.navbar{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top:0;
    left:0;
    right: 0;
    width: 100%;
    padding: 20px;
    color: whitesmoke;
}

ul{
list-style: none;
}

.nav-links{
    display: flex;
    align-items: center;
}

.nav-links li{
   margin: 0 30px;
}

.active{
    color: #fc036b;
    text-decoration: underline;
    font-weight: bold;
}


a {
    text-decoration: none;
    color: whitesmoke;
    }

header {
    width: 100vw;
    height: 100vh;
    background-image: url('./img/header-bg.png');
    background-position: bottom;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: flex-end;
}


.header-content{
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}

.header-content h2{
    font-size: 4vmin;
}

.line{
    width: 150px;
    height: 4px;
    background-color: #fc036b;
    margin: 10px auto;
    border-radius: 10px;
}

.header-content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

.ctn{
    padding: 8px 15px;
    background-color: #fc036b;
    border-radius: 30px;
    color: whitesmoke;
}

.menu-btn{
    display: none;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
}


/* <!-- == SECTIONS == --> */

section {
    width: 80%;
    margin: 80px auto;
}

/* <!-- == SECTIONS == --> */


/* <!-- == EVENTS == --> */

.title{
    text-align: center;
    font-size: 4vmin;
}

.row{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.row .col {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.events .row {
    margin-top: 50px;
}

h4{
    font-size: 3vmin;
    margin: 20px auto;
}

p{
    color:rgb(81, 83, 74);
    padding: 0 40px;
}

.events .ctn{
    margin-top: 30px;
}


/* <!-- == EVENTS == --> */

            /* <!-- == explore == --> */
 
            .explore{
                width: 100%;
                height: 100vh;
                background-image: url('./img/bg2.png');
                background-position: center;
                background-size: cover;
                background-repeat:no-repeat;
                display: flex;
                align-items: center;
            }


            .explore-content{
               width: 50%;
               padding: 50px;
               color: whitesmoke;
               display: flex;
               align-items: center;
               flex-direction: column;
            }

            .explore-content h1{
                font-size: 10vmin;
            
             }

             .explore-content .line{
                margin-bottom: 50px;
             }

             .explore-content p{
                color: whitesmoke;
             }

             .explore-content .ctn{
                margin-top: 30px;
             }

            /* <!-- == explore == --> */

         /* <!-- == TOURS == --> */
         .tours .image-gallery {
             display: flex;
             flex-wrap: wrap;
             width: 100%;
             align-items: center;
         }

         .image-gallery img {
             max-width: 300px;
             margin: 10px;
         }

         .content-col{
             width: 40%;
             display: flex;
         }

         .content-col h1{
             font-size: 7vmin;
             color: rgb(45, 90, 185);
         }

         .content-col .line{
             margin-left: -1px;
         }
        
         .content-col p {
             margin: 30px auto;
             padding: 0;
         }

         .content-col .ctn {
           align-self: flex-start;
         }
         
         .img-col{
             width: 60%;
         }

         /* <!-- == TOURS == --> */



         .footer{
             width: 100%;
             min-height: 100px;
             padding: 20px 80px;
             margin: 0;
             background-color: rgb(90, 88, 88);
             text-align: center;
         }

         .footer p{
             color: whitesmoke;
             margin: 20px auto;
             padding: 20px auto;
         }

/* mobile device */

@media only screen and (max-width: 850px){

   .menu-btn{
        display: block;
    }

  .navbar{
      padding: 0;
  }

  .logo{
      position: absolute;
      top: 30px;
      left: 30px;
  }

  .nav-links { 
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(45, 90, 185);
    margin-top: -900px;
    transition: all 0.5s ease;
  }

  .activin{
      margin-top: 0px;
      border-bottom-right-radius: 40%;
  }

  .nav-links li{
      margin: 30px auto;
  }

  .row{
      flex-direction: column;
  }


  .row .col{
      margin: 20px auto;
  }
   .row .col img {
      max-width: 90%;
  }

  .explore-content{
      width: 100%;
  }

  .tours .row .col{
      width: 100%;
  }

  .tours .image-gallery{
      justify-content: center;
      align-items: center;
  }

  .image-gallery img{
    width: 90%;
}

}

/* mobile device */

/* ANIMATIONS */

img{
    transition: transform 3.2 ease;
}

img:hover {
    transform: scale(1.1);
}

.ctn:hover{
    background-color: whitesmoke;
    color: #fc036b;
}
/* ANIMATIONS */
